<h2>Valheim Server</h2>
<div class='border'>
  <input type='button' value='Start' (click)='start()' [disabled]='loading'>
  <input type='button' value='Stop' (click)='stop()' [disabled]='loading'>
  <div *ngIf='loading'>In Progress...</div>
  <div class='error'>{{error}}</div>
</div>
<div class='border'>
  <div><input type='button' value='Refresh' (click)='loadStatus()'></div>
  <div *ngIf='status' [innerHTML]='status'></div>
</div>
<div #logDiv class='border log'>
  <div><input type='button' value='Refresh' (click)='loadLogs()'></div>
  <div *ngIf='log' [innerHTML]='log'></div>
</div>
